@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.posts {
  padding: 0 6vw 3.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: -2.5rem;
}

@media (max-width: 1100px) {
  .posts {
      margin-top: 0;
      padding: 2rem 1.5rem 3.625rem;
  }
}

@media (max-width: 744px) {
  .posts {
      padding: 2rem 1rem 3rem;
  }
}

.cardPrincipal {
  display: flex;
  width: 80%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5% 0 5% 0;
  background-color: rgb(245, 246, 247)!important;
}

.cardCadastro a{

  text-decoration: none;
  color: black;
  justify-content: center;
}

.container {
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 150%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.cardPrincipal1 {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  background-color: #f1a014;
  align-items: center !important;
  border: #f1a014;
  border-radius: 6% 0 0 0;
}

.cardPrincipal2 {
  width: 100%;
  height: 96vh;
  padding: 0 !important;
  text-align: center;
  margin: 0 !important;
  border: none !important;
}

.cardCadastro {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0 !important;
  width: 100% !important;
  height: 80% !important;
  background-color: rgb(245, 246, 247)!important;
  margin-top: 2%;
  margin-left: 2%;
  padding-top: 10%;
}

.btnColor {
  background-color: #f1a014;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
  text-align: center;
  margin: auto;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imagem {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cardPrincipal {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5% 0 5% 0;
  background-color: rgb(245, 246, 247)!important;
}

.dontAccont,
.dontAccont a {
  text-align: center;
  font-size: 16px;
  padding-top: 25px;
  color: #7f7d7d;
  margin: 0;
}

.dontAccont a {
  color: #8c8df3
}

.rememberPassword,
.rememberPassword a {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  color: #7f7d7d;
  margin: 0;
}

.rememberPassword a {
  color: #8c8df3
}

.customControlLabel {
  font-weight: 400;
  padding: 5px 5px;
  color: #7f7d7d;
  text-align: center;
}

.link {
  display: flex;
  justify-content: space-between;
}